<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<style>

    .container{
    width: 600px;
    margin:0 auto;}

    .table{
    border: 1px; 
    width:100%
    bo
    
}
tr, td{
    border: 1px solid black;
}
.btn-div{
    text-align: center;
    margin-top: 16px;
}

</style>
</body>
<div class="container">
    <table>
        <tr>
            <td>학번</td>
            <td>학생명</td>
            <td>국어점수</td>
            <td>영어점수</td>
            <td>총점</td>
        </tr>
        
    </table>
    <div class="btn-div">
        <input type="button" value="학생등록">
    </div>
</div>
</html>