<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>fetch_test.html파일</h2>
    <input type="button" value="비동기통신 1" onclick="t1()"> <br>
    <input type="button" value="비동기통신 2" onclick="t2()" > <br>
    <input type="button" value="비동기 통신 3" onclick="t3()">


    <script src="/fetch_test.js"></script>
    <!-- src="/+자바 스크립트 파일명.js" 만들고 이걸 html에 불러오겠다는 것 그리고 static 폴더 안에 있어야 함-->
</body>
</html>