<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 자바스크립트Study -->
    <!-- 열려 있는 html에서  -->
    <input type="text" id="num1">
    <input type="password" class="num2">
    <input type="checkbox" value="1" class="num3">
    <input type="checkbox" value="2" class="num3">
    <input type="checkbox" value="3" class="num3">
    <input type="button" value="버튼" onclick="showData()">


    <script>
        // alert(111); (바로 실행)

        //원하는 태그 선택하기(접근하기)
         //1. 아이디 속성이 num1인태그 선택
         const tag1= document.querySelector('#num1');
        // F12 홈페이지 개발자모드 console창 보기
         console.log(tag1);


        //2. class 속성이 num2인 태그를 선택
        const tag2=document.querySelector('.num2');
        console.log(tag2);
       
        //3. class 속성이 num3인 태그를 선택
        //같은 class속성을 가진 태그가 여러 개라면 가장 처음 선언된 태그만 선택함
        const tag3=document.querySelector('.num3');
        console.log(tag3);

        //4. class속성이 num3인 태그 모두를 선택
        const tag4=document.querySelectorAll('.num3');
        console.log(tag4);

        //0번째 저장된 (tag4에 있는 0번째)태그 출력
        console.log(tag4[0]);

        //tag4의 전체 데이터 출력
        for(let i=0;i<tag4.length;i++){
            console.log(tag4[i]);
        }
        //for each문 : 대신에 of
        for(const e of tag4){
            console.log(e);
        }
        



        // dom객체(태그) 컨트롤 (script에서 input태그로 가져가기)
 
        // 함수 선언
        function showData(){
             
        }

        //showData(); 함수 호출


    </script>

</body>
</html>