<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <input type="text" id="num1"> + <input type="text" id="num2">=
    <input type="text" id="result"> <br>
    <input type="button" value="더하기" onclick="plus()">

 
    <!-- 자바에서 문자열 정수형으로 바꾸기  Integer.parseInt('10'); -->

    <script>
        // 버튼 눌렀을 때 실행되도록
        function plus(){
             const num1=document.querySelector('#num1').value;
                                                                //== const tag1=document.querySelector('#num1');
                                                                //    const num1=tag1.value;
            const num2=document.querySelector('#num1').value;
            const result= parseInt(num1)+ parseInt(num2);
            document.querySelector('#result').value=result;
                                                                    // const resultTag=document.querySelector('#result');
                                                                // resultTag.value=result;

        }
    

    </script>


</body>
</html>